body
{
	user-select: none;
}

#buttomLayer
{
	position: absolute;
	top: 2px;
	left: 2px;
	right: 2px;
	bottom: 2px;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	text-align: center;
	border: dashed 6px #BEBEBE;
	background-color: white;
}

#fileList {
	position: absolute;
	padding: 0;
	margin: 10px 6px;
	z-index: 50;
}

#fileList li {
	display: inline-block;
	margin: 5px;
	vertical-align: top;
	width: 130px;
}

#file
{
	position: absolute;
	display: none;
}

#uploadButton
{
	position: absolute;
	bottom: 10px;
	right: 10px;
}

#tagList
{
	position: absolute;
	display: inline;
	color: white;
	z-index: 75;
	margin: 0;
	top: 0;
	right: 0;
	-moz-transition: right 1s;
	list-style-type: none;
}

#tagList li
{
	word-wrap: break-word;
	padding: 5px 15px 5px 10px;
	box-shadow: -3px 3px 5px #525252;
	cursor: default;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	-moz-transition: right 1s;
	-moz-user-select: none;
	width: 15px;
	border: solid 1px #3C3C3C;
}

#tagList li span
{
	transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
}

#settingTag
{
	background-color: blue;
}

#gdTag
{
	background-color: red;
}

#settingPanel
{
	position: absolute;
	z-index: 75;
	top: 0;
	right: 0;
	bottom: 0;
	width: 0;
	height: 100%;
	display: none;
	background-color: white;
	overflow: hidden;
	border-left: solid 1px #B7B2B2;
	-moz-transition: all 1s;
	box-shadow: -3px 3px 5px #525252;
}

#settingPanel > DIV
{
	padding: 10px;
	width: 300px;
}

#settingPanel > DIV DIV
{
	padding: 10px;
}

#settingPanel span
{
	font-size: 0.9em;
}

.mask
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.6;
	background-color: #FFFFFF;
	z-index: 100;
}

.loaderImage
{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	height: 30px;
	text-align: center;
	z-index: 200;
}

.dialog
{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	background: white;
	border: dashed 6px #5CC2FF;
	border-radius: 13px 0 13px 13px;
	-webkit-border-radius: 15px 0 15px 15px;
	-moz-border-radius: 15px 0 15px 15px;
	height: 200px;
	width: 350px;
	/*line-height: 200px;*/
	text-align: center;
	z-index: 200;
	/*-moz-box-shadow: 0 0 9px #000000;*/
}

.content
{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	height: 3em;
	display: inline-block;
}

.content *
{
	text-decoration: none;
	line-height: 1em;	
}

.fileObj
{
	height: 110px;
	border: none;
	display: block;
	font-size: 11px;
	padding: 5px;
	vertical-align: bottom;
}

.fileObj span
{
	word-wrap: break-word;
	font-style: italic;
}

.fileObj img
{
	cursor: pointer;
}

.timeout
{
	position: absolute;
	bottom: 5px;
	left: 5px;
	font-size: 11px;
}