body {
	-moz-user-select: none;
}

#buttomLayer {
	position: absolute;
	top: 2px;
	left: 2px;
	right: 2px;
	bottom: 2px;
	user-select: none;
	-moz-user-select: none;
	text-align: center;
	border: dashed 6px #BEBEBE;
	background-color: white;
	
}

#tipword {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: 1em;
	font-style: italic;
	color: #B1B1B1;
}

#fileList {
	position: absolute;
	padding: 0;
	margin: 10px 6px;
	z-index: 50;
}

#fileList li {
	display: inline-block;
	margin: 5px;
	vertical-align: top;
	width: 130px;
}

#file {
	position: absolute;
	z-index: -100;
}

#uploadButton {
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 50;
}

#tagList {
	position: absolute;
	display: inline;
	z-index: 75;
	margin: 0;
	top: 3px;
	right: 0;
	transition: right 1s;
	-moz-transition: right 1s;
	-webkit-transition: right 1s;
	-o-transition: right 1s;
	list-style-type: none;
}

#tagList li {
	word-wrap: break-word;
	padding: 5px 15px 5px 10px;
	box-shadow: -3px 3px 5px #525252;
	cursor: default;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	/*-moz-transition: right 1s;
	-webkit-transition: right 1s;
	-o-transition: right 1s;*/
	-moz-user-select: none;
	border: solid 1px #3C3C3C;
	width: 9px;
}

#settingTag {
	background-color: #2D33A1;
}

#settingTag>div {
	background: url("/static/images/tags.png") no-repeat 0 0;
	height: 64px;
	width: 18px;
}

#gdTag {
	background-color: #E91414;
}

#gdTag>div {
	background: url("/static/images/tags.png") no-repeat -19px 0px;
	height: 95px;
	width: 17px;
}

#introdTag {
	background-color: #058400;
}

#introdTag>div {
	background: url("/static/images/tags.png") no-repeat -35px 0px;
	height: 48px;
	width: 17px;
}

#settingPanels {
	position: absolute;
	z-index: 75;
	top: 0;
	right: 0;
	bottom: 0;
	width: 0;
	max-height: 100%;
	background-color: white;
	overflow: hidden;
	border-left: solid 1px #B7B2B2;
	transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	-webkit-transition: all 1s;
	box-shadow: -3px 3px 5px #525252;
}

#settingPanels>DIV {
	padding: 10px;
	width: 360px;
	display: none;
}

#settingPanels>DIV:FIRST-CHILD {
	display: block;
}

#settingPanels>DIV DIV {
	padding: 5px;
	vertical-align: top;
}

#settingPanels span {
	font-size: 0.8em;
}

.mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.6;
	background-color: #FFFFFF;
	z-index: 100;
}

#loaderImage {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	height: 30px;
	text-align: center;
	z-index: 200;
}

.dialog {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	background: white;
	border: dashed 6px #5CC2FF;
	border-radius: 13px 0 13px 13px;
	/*-webkit-border-radius: 15px 0 15px 15px;
	-moz-border-radius: 15px 0 15px 15px;*/
	height: 200px;
	width: 350px;
	/*line-height: 200px;*/
	text-align: center;
	z-index: 200;
	/*-moz-box-shadow: 0 0 9px #000000;*/
}

.errorMsgDialog {
	text-align: left;
	left: 10px;
	top: 10px;
	bottom: auto;
	right: auto;
	
}

.content {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	height: 3em;
	display: inline-block;
}

.content * {
	text-decoration: none;
	line-height: 1em;
}

.fileObj {
	height: 110px;
	border: none;
	display: block;
	font-size: 11px;
	padding: 5px;
	vertical-align: bottom;
}

.fileObj span {
	word-wrap: break-word;
	font-style: italic;
}

.fileObj img {
	cursor: pointer;
}

.timeout {
	position: absolute;
	bottom: 5px;
	left: 5px;
	font-size: 11px;
}

.unprovided {
	opacity: 0;
	transition: opacity 1s;
	-moz-transition: opacity 1s;
	-webkit-transition: opacity 1s;
	-o-transition: opacity 1s;
	vertical-align: top;
}